*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    background-image: url();
}

#game-container{
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#word-search-grid {
    width: 60%;
    border-collapse: collapse;
}
  
.grid-cell {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    user-select: none;
}
  
.highlighted {
    background-color: yellow;
}
  
.found {
    background-color: lightgreen;
}
  
#word-list .found {
    width: fit-content;
    text-decoration: line-through;
    color: green;
}